.accordion-button {
  height: 30px;
  width: auto;
  min-width: 60px;

  display: flex;
  align-items: center;

  background: transparent;
  border: none;

  cursor: pointer;

  color: #24acff;
  font-weight: bold;

  &__icon {
    margin-left: 5px;
    transition: 150ms ease-in-out;
  }


  &:focus {
    outline: none;
  }
}

.opened {
  transform: rotate(180deg);
  transition: 150ms ease-in-out;
}

::ng-deep .accordion-button__icon {
   svg, path {
    fill: #24acff;
    stroke: #24acff;
  }
}
